*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 16px;
}
#container{
	width: 1000px;
	margin: 0 auto;
	/*background-color: pink;*/
}
#container>.wrap>div{
	width: 30%;
	float: left;
}
#container>.wrap>div:nth-child(2){
	margin-left: 5%;
	margin-right: 5%;
}

#container>.wrap>div.box1{
	/*background-color: green;*/
}
#container>.wrap>div.box2{
	/*background-color: orange;*/
	font-size: 13px;
}

#container>.wrap>div.box3{
	/*background-color: skyblue;*/
	font-size: 13px;
}
#container>.wrap>div.box1 .pic{
	width: 200px; height: 200px;
	border: 2px solid #333;
	border-radius: 50%;
	margin: 30px auto;
	overflow: hidden;
	/*text-align: center;*/
}
#container>.wrap>div.box1 img{
	width: 100%;
}

#container>.wrap>div.box1 strong{
	font-size: 26px;
}
#container>.wrap>div.box1 hr{
	width: 300px;
	border-color: #222;
	margin: 20px 5px;
}
#container>h1{
	color: black;
	font-size: 45px;
	margin: 20px 0;
	font-family: Georgia;
}
#container>.wrap >.box2>div>div, 
#container>.wrap >.box3>div>div{
	padding-bottom: 20px;
	border-bottom: 1px dotted #333;
}
#container>.wrap h1{
	color: mediumaquamarine;
	font-family: Georgia;
}